.wrap {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
  max-height: 216px;
  object-fit: cover;
  border-radius: 8px;
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #111827;
}