.gallery {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

@media (max-width: 800px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .gallery {
    grid-template-columns: 1fr;
  }
}